body{
    font-family: "Century Gothic";
}

h1{
    font-size: xx-large;
    font-style: oblique;

}

.headerImage{
    text-align: center;
    height: 30px;
    width: 120px;
}

.sidenav {
    width: 220px;
    position: fixed;
    z-index: 1;
    top: 20px;
    left: 20px;
    background: #eee;
    padding: 8px 0;
    text-align: center;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #2196F3;
    display: block;
}

.sidenav a:hover, button:hover {
    color: #064579;
}

.main {
    margin-left: 260px; /* Same width as the sidebar + left position in px */
    font-size: 18px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.button, .dropdownButton {
    background-color: inherit;
    padding: 10px;
    margin: 5px;
    font-size: x-large;
    font-family: inherit;
    border: 1px;
    outline: none;
    color: #2196F3;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    text-align: center;
}

/* Links inside the dropdown */
.dropdown-content a {
    text-decoration: none;
    display: block;
    text-align: center;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.tabcontent {
    display: none;
}



span{
    cursor: pointer;
}

caption{
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    padding: 15px;
}

thead{
    text-align: center;
    font-weight: bold;

}

tbody{
    vertical-align: top;
}

.sideChart{
    border: 1px solid black;
    margin-left: 50px;
}

.youtube{
    vertical-align: top;
}

.charts2014special{
    padding-left: 30px;
}

/* ==================== LOADING ========================*/

.loader,
.loader:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}
.loader {
    margin: 60px auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(255, 255, 255, 0.2);
    border-right: 1.1em solid rgba(255, 255, 255, 0.2);
    border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
    border-left: 1.1em solid #ffffff;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
#loadingDiv {
    position:absolute;;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:#000;
}